# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Cold War Iron Curtain/gfx/SyncToy_ea3e2603-e5ec-4e10-a9ed-c5472a69effa.dat
~$tableforswf.xlsx
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
*.mod
Cold War Iron Curtain/descriptor.mod
*.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
