# Windows thumbnail cache files
Thumbs.db
ehthumbs.db
ehthumbs_vista.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================
Cold War Iron Curtain/gfx/SyncToy_ea3e2603-e5ec-4e10-a9ed-c5472a69effa.dat
~$tableforswf.xlsx
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
*.mod
Cold War Iron Curtain/descriptor.mod
*.mod
Cold War Iron Curtain/Cold_War_Iron_Curtain.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
Cold War Iron Curtain/descriptor.mod
1838329295/FAQ.png
1838329295/Features.png
1838329295/Future Plans.png
1838329295/gfx/fonts/hoi_mapfont4.dds
1838329295/gfx/fonts/hoi_mapfont4.fnt
1838329295/gfx/fonts/hoi_mapfont42.dds
1838329295/gfx/fonts/hoi_mapfont42.tga
1838329295/gfx/FX/constants.fxh
1838329295/map/terrain/atlas0.dds
1838329295/map/terrain/atlas1.dds
1838329295/map/terrain/atlas2.dds
1838329295/map/terrain/atlas_normal0.dds
1838329295/map/terrain/atlas_normal1.dds
1838329295/map/terrain/atlas_normal2.dds
1838329295/map/terrain/border_country_0.dds
1838329295/map/terrain/border_country_1.dds
1838329295/map/terrain/border_country_2.dds
1838329295/map/terrain/border_impassable_0.dds
1838329295/map/terrain/border_impassable_1.dds
1838329295/map/terrain/border_impassable_2.dds
1838329295/map/terrain/border_province_0.dds
1838329295/map/terrain/border_province_1.dds
1838329295/map/terrain/border_province_2.dds
1838329295/map/terrain/border_sea_0.dds
1838329295/map/terrain/border_sea_1.dds
1838329295/map/terrain/border_sea_2.dds
1838329295/map/terrain/border_sea_region_0.dds
1838329295/map/terrain/border_sea_region_1.dds
1838329295/map/terrain/border_sea_region_2.dds
1838329295/map/terrain/border_state_0.dds
1838329295/map/terrain/border_state_1.dds
1838329295/map/terrain/border_state_2.dds
1838329295/map/terrain/colormap_water_0.dds
1838329295/map/terrain/colormap_water_1.dds
1838329295/map/terrain/colormap_water_2.dds
1838329295/map/terrain/reflection.dds
1838329295/map/terrain/strait.dds
1838329295/mod_pic.psd
1838329295/thumbnail.png
1838329295/Workshop.psd
building_icon_strip.dds
FuhrerMana/common/ideas/fuhrer_mana_ideas.txt
FuhrerMana/common/on_actions/fuhrer_on_actions.txt
FuhrerMana/common/scripted_guis/fuhrer_enemy_country_spells.txt
FuhrerMana/common/scripted_guis/fuhrer_focuses.txt
FuhrerMana/common/scripted_guis/fuhrer_research.txt
FuhrerMana/common/scripted_guis/fuhrer_self_state_spells.txt
FuhrerMana/common/scripted_guis/fuhrer_spells.txt
FuhrerMana/common/scripted_guis/fuhrer_top_bar_resource.txt
FuhrerMana/common/scripted_localisation/fuhrer_localisation.txt
FuhrerMana/common/scripted_triggers/fuhrer_triggers.txt
FuhrerMana/gfx/fuhrer_mana.dds
FuhrerMana/interface/fuhrer_mana.gfx
FuhrerMana/interface/fuhrer_mana.gui
FuhrerMana/localisation/fuhrer_mana_l_english.yml
hoi4_texture_overhaul_water.zip
minesweeper/common/on_actions/real_mines_onactions.txt
minesweeper/common/scripted_effects/real_mines_effects.txt
minesweeper/common/scripted_guis/real_mines_gui.txt
minesweeper/gfx/interface/mine_sweeper/bg.dds
minesweeper/gfx/interface/mine_sweeper/close.dds
minesweeper/gfx/interface/mine_sweeper/face.dds
minesweeper/gfx/interface/mine_sweeper/mine_flag.dds
minesweeper/gfx/interface/mine_sweeper/mine_question.dds
minesweeper/gfx/interface/mine_sweeper/mines.dds
minesweeper/gfx/interface/mine_sweeper/mines_open.dds
minesweeper/gfx/interface/mine_sweeper/minimize.dds
minesweeper/gfx/interface/mine_sweeper/numbers.dds
minesweeper/interface/real_mines.gfx
minesweeper/interface/real_mines.gui
minesweeper/real_mines.jpg
nonreflectivewater.zip
TNO.zip
totalwar.zip
.gitignore
test/thumbnail.png
CWICMusic/music/music.asset
CWICMusic/thumbnail.png
CWICMusic/vietnam-war-south-vietnamese-troops-shutterstock-editorial-7384981a.jpg
CWICMusic/music/standard/standardCW.txt
CWICMusic/music/standard/standardCW.asset
CWICMusic/music/standard/hello_vietnam.ogg
CWICMusic/music/basic.txt
CWICMusic/music/basic.asset
CWICMusic/localisation/coldwarradio_l_english.yml
CWICMusic/interface/coldwar_radio.gui
CWICMusic/interface/coldwar_radio.gfx
CWICMusic/gfx/interface/topbar/musicplayer/coldwar_radio_album_art.pdn
CWICMusic/gfx/interface/topbar/musicplayer/coldwar_radio_album_art.dds
CWICMusic/gfx/interface/topbar/musicplayer/template.psd
CWICMusic/music/gimme_shelter.ogg
